@import "tailwindcss";

:root {
  --background: #faf7f0;
  --foreground: #4a4947;
  --surface: #d8d2c2;
  --accent: #b17457;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-accent: var(--accent);
  --font-sans: "Futura", "Trebuchet MS", "Helvetica Neue", Arial, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-malvinas-signature), "Brush Script MT", cursive;
}

.font-title {
  font-family: var(--font-malvinas-signature), "Brush Script MT", cursive;
}

.font-sans {
  font-family: "Futura", "Trebuchet MS", "Helvetica Neue", Arial, sans-serif;
  font-weight: 50;
  font-style: italic;
}
